/* Load Inter font family style */

@font-face {
  font-family: 'Inter';
  src: url('../../Fonts/inter-regular.woff2') format('woff2');
  font-weight: 400; 
  font-display: swap; /* Makes text visible faster */
}

@font-face {
  font-family: 'Inter';
  src: url('../../Fonts/inter-medium.woff2') format('woff2');
  font-weight: 500; 
  font-display: swap;
}

  font-face {
    font-family: 'Inter';
    src: url('../../Fonts/inter-semiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

font-face {
  font-family: 'Inter';
  src: url('../../Fonts/inter-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}


